<div class="terms-container">
    <h1 class="terms-title">{{ 'TERMS' | translate }}</h1>
    <div class="terms-content">
      <p>
        {{ 'TERMS_INFO' | translate }}
      </p>
  
      <h2>{{ 'GENERAL_USE' | translate }}</h2>
      <p>
        {{ 'GENERAL_USE_INFO' | translate }}
      </p>
  
      <h2>{{ 'RESERVATIONS' | translate }}</h2>
      <p>
        {{ 'RESERVATIONS_INFO' | translate }}
      </p>
  
      <h2>{{ 'RESPONSABILITIES' | translate }}</h2>
      <p>
        {{ 'RESPONSABILITIES_INFO' | translate }}
      </p>
  
      <h2>{{ 'PRIVACY' | translate }}</h2>
      <p>
        {{ 'PRIVACY_INFO' | translate }}
      </p>
  
      <h2>{{ 'LIMITATION' | translate }}</h2>
      <p>
        {{ 'LIMITATION_INFO' | translate }}
      </p>
  
      <h2>{{ 'LAW' | translate }}</h2>
      <p>
        {{ 'LAW_INFO' | translate }}
      </p>
  
      <h2>{{ 'CONTACT' | translate }}</h2>
      <p>
        {{ 'CONTACT_INFO' | translate }}
      </p>
  
      <p class="last-note">
        {{ 'THANK' | translate }}
      </p>
    </div>
  </div>
  