<div class="about-us">
    <!-- Header Section -->
    <header>
      <h1>{{ 'ABOUT_US' | translate }}</h1>
      <p>{{ 'ABOUT_US_INFO' | translate }}</p>
    </header>
  
    <!-- History Section -->
    <section class="history">
      <h2><b>{{ 'OUR_HISTORY' | translate }}</b></h2>
      <p>
        {{ 'OUR_HISTORY_INFO' | translate }}
      </p>
    </section>
  
    <!-- Values Section -->
    <section class="values">
      <h2><b>{{ 'OUR_COMMITMENT' | translate }}</b></h2>
      <p>
        {{ 'OUR_COMMITMENT_INFO' | translate }}
      </p>
    </section>
  </div>
  