<div *ngIf="!isClientLoggedIn && !isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #100839;">
    <div>
      <img src="/assets/images/logo.jpg" alt="Logo">
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">{{'HOME' | translate }}</a>
      <a nz-button nzType="link" routerLink="/facilities" routerLinkActive="login">{{'FACILITIES_M' | translate }}</a>
      <a nz-button nzType="link" routerLink="/rooms" routerLinkActive="login">{{'ROOMS' | translate }}</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">{{'REGISTER_M' | translate }}</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="login">{{'LOGIN_M' | translate }}</a>
      <div class="dropdown">
        <button nz-button nzType="link" class="dropdown-button">
          {{ 'TRANSLATE' | translate }} ▼
        </button>
        <div class="dropdown-content">
          <a (click)="switchLanguage('en')">English</a>
          <a (click)="switchLanguage('es')">Español</a>
          <a (click)="switchLanguage('fr')">Français</a>
        </div>
      </div>
           
    </div>
  </nz-header>
</div>

<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #100839;">
    <div>
      <img src="/assets/images/logo.jpg" alt="Logo">
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">{{'DASHBOARD' | translate }}</a>
      <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">{{'BOOKINGS' | translate }}</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">{{'LOGOUT' | translate }}</a>
      <div class="dropdown">
        <button nz-button nzType="link" class="dropdown-button">
          {{ 'TRANSLATE' | translate }} ▼
        </button>
        <div class="dropdown-content">
          <a (click)="switchLanguage('en')">English</a>
          <a (click)="switchLanguage('es')">Español</a>
          <a (click)="switchLanguage('fr')">Français</a>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Bookings</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #100839;">
    <div>
      <img src="/assets/images/logo.jpg" alt="Logo">
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/clients" routerLinkActive="active">{{'CLIENTS' | translate }}</a>
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">{{'DASHBOARD' | translate }}</a>
      <a nz-button nzType="link" routerLink="/admin/room" routerLinkActive="active">{{'PUBLISH_ROOM' | translate }}</a>
      <a nz-button nzType="link" routerLink="/admin/rooms" routerLinkActive="active">{{'ROOMS' | translate }}</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">{{'LOGOUT' | translate }}</a>
      <div class="dropdown">
        <button nz-button nzType="link" class="dropdown-button">
          {{ 'TRANSLATE' | translate }} ▼
        </button>
        <div class="dropdown-content">
          <a (click)="switchLanguage('en')">English</a>
          <a (click)="switchLanguage('es')">Español</a>
          <a (click)="switchLanguage('fr')">Français</a>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/admin/clients" routerLinkActive="active">Clients</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/admin/room" routerLinkActive="active">room</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/admin/rooms" routerLinkActive="active">rooms</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="footer-logo">HOTEL <span>LE PARADI</span></h3>
      <p>497 Evergreen Rd. Roseville, CA 95673</p>
      <p>+44 345 678 903</p>
      <p>luxury_hotels.gmail.com</p>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="/aboutus">{{'ABOUT_US' | translate }}</a></li>
        <li><a href="/terms">{{'TERMS' | translate }}</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul class="social-links">
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://x.com/?lang=en">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>
