<div class="page-container">
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-content">
        <h1>{{'WELCOME' | translate }}</h1>
        <h2>LE PARADI HOTEL</h2>
        <p>{{'HERO_INFO' | translate }}</p>
        <button nz-button nzType="primary" nzSize="large" class="book-now" routerLink="/login">
          <i nz-icon nzType="calendar" nzTheme="outline"></i> {{'BOOK' | translate }}
        </button>
      </div>
    </div>
  
    <!-- Facilities Section -->
    <div class="facilities-section">
      <h2>{{'FACILITIES' | translate }}</h2>
      <p>
        {{'FACILITIES_INFO' | translate }}
      </p>
      <div class="facility">
        <img src="assets/images/gym.jpg" alt="The Gym" />
        <h3>{{'GYM' | translate }}</h3>
      </div>
      <div class="facility">
        <img src="assets/images/poolside.jpg" alt="Poolside Bar" />
        <h3>{{'POOLSIDE' | translate }}</h3>
      </div>
      <div class="facility">
        <img src="assets/images/spa.jpg" alt="The Spa" />
        <h3>{{'SPA' | translate }}</h3>
      </div>
      <div class="facility">
        <img src="assets/images/swimming.jpg" alt="Swimming Pool" />
        <h3>{{'SWIMMING' | translate }}</h3>
      </div>
      <div class="facility">
        <img src="assets/images/restaurant.jpg" alt="Restaurant" />
        <h3>{{'RESTAURANT' | translate }}</h3>
      </div>
      <div class="facility">
        <img src="assets/images/laundry.jpg" alt="Laundry" />
        <h3>{{'LAUNDRY' | translate }}</h3>
      </div>
    </div>
  </div>
  