<div class="container">
    <div class="section">
        <div class="header">
            <h1>{{'WELCOME_TO' | translate }}</h1>
            <p>{{'CHOOSE_ROLE' | translate }}</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_admin">
                {{'REGISTER_ADMIN' | translate }}
            </button>
            <button nz-button nzType="primary" routerLink="/register_client">
                {{'REGISTER_CLIENT' | translate }}
            </button>
        </div>
    </div>
</div>
