<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left: 55px">{{'SIGNUP_CLIENT' | translate }}</h1>
            </div>

            <form nz-form [formGroup] = "validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'VALID_EMAIL' | translate }}">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'VALID_PASSWORD' | translate }}">
                        <input nz-input type="password" placeholder="password" formControlName="password" id="password" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'MATCH_PASSWORD' | translate }}">
                        <input nz-input type="password" placeholder="Confirm your password" formControlName="checkPassword" id="checkPassword" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'VALID_NAME' | translate }}">
                        <input nz-input placeholder="your full name" formControlName="name" id="name" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'VALID_LASTNAME' | translate }}">
                        <input nz-input placeholder="your full lastname" formControlName="lastname" id="lastname" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="{{'VALID_PHONE' | translate }}">
                        <input nz-input placeholder="phone number" formControlName="phone" id="phone" />
                    </nz-form-control>
                </nz-form-item>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                    {{'REGISTER' | translate }}
                </button>
                O <a routerLink="/login">{{'LOGIN_NOW' | translate }}</a>
                

            </form>

        </div>
    </div>
</div>
